<div class="row mt-4">

    <div class="col-md-6 d-none d-md-block" style="height: 450px;">
        <div class="text-center col-md-12 my-auto side-heder">
            <h1>User registration</h1>
            <img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
        </div>
    </div>

    <div class="col-md-6">

        <form class="p-1" [formGroup]="registrationForm">
            <div class="pb-2 d-block d-md-none">
                <h3 class="border-bottom">User registration</h3>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label>First name</label>
                    <input type="text" class="form-control" placeholder="Insert your first name"
                        formControlName="firstName" [ngClass]="inputValidator(form.firstName)" />

                    <div class="invalid-feedback" *ngIf="form.firstName.errors?.required">
                        First name is required.
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label>Last name</label>
                    <input type="text" class="form-control" placeholder="Insert your last name"
                        formControlName="lastName" [ngClass]="inputValidator(form.lastName)" />

                    <div class="invalid-feedback" *ngIf="form.lastName.errors?.required">
                        Last name is required.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="">Email:</label>
                <input class="form-control" type="text" placeholder="Insert your last email" formControlName="email"
                    [ngClass]="inputValidator(form.email)" />

                <div class="invalid-feedback" *ngIf="form.email.errors?.required">
                    Email is required.
                </div>
                <div class="invalid-feedback" *ngIf="form.email.errors?.email">
                    This email is invalid.
                </div>
            </div>

            <div class="form-group">
                <label for="">User:</label>
                <input class="form-control" type="text" placeholder="Insert your user name" formControlName="username"
                    [ngClass]="inputValidator(form.username)" />

                <div class="invalid-feedback" *ngIf="form.username.errors?.required">
                    Username is required.
                </div>
                <div class="invalid-feedback" *ngIf="form.username.errors?.minLenght">
                    Enter at least 4 characters.
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="">Password:</label>
                    <input class="form-control" type="password" placeholder="Insert your password"
                        formControlName="password" [ngClass]="inputValidator(form.password)" />

                    <div class="invalid-feedback" *ngIf="form.password.errors?.required">
                        Password is required.
                    </div>
                    <div class="invalid-feedback" *ngIf="form.password.errors?.minlength">
                        Enter at least 8 characters.
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label for="">Confirm password:</label>
                    <input class="form-control" type="password" placeholder="Confirm the password"
                        formControlName="confirmPassword" [ngClass]="inputValidator(form.confirmPassword)" />

                    <div class="invalid-feedback" *ngIf="form.confirmPassword.errors?.required">
                        Confirm password is required.
                    </div>
                    <div class="invalid-feedback" *ngIf="form.confirmPassword.errors?.minlength">
                        Enter at least 8 characters.
                    </div>
                    <div class="invalid-feedback" *ngIf="form.confirmPassword.errors?.passMustMatch">
                        The passwords didn't match.
                    </div>
                </div>
            </div>

            <div class="form-row p-1 mb-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label">I agree with the <a href="#">Terms of Use</a>.</label>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    <button class="btn btn-lg btn-success btn-block px-5" [disabled]="!registrationForm.valid">
                        Register
                    </button>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    <a class="btn btn-link btn-block" [routerLink]="['/user/login']">
                        I'm already registered
                    </a>
                </div>
            </div>
        </form>

    </div>
</div>