<div class="card rounded shadow-sm">
    <form>
        <div class="p-3">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Theme</label>
                    <input type="text" class="form-control" placeholder="Insira o Tema">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label>Location</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="form-group col-md-4">
                    <label>Date and Time</label>
                    <input type="datetime" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>Amt People</label>
                    <input type="text" class="form-control is-invalid" placeholder="">
                </div>
                <div class="form-group col-md-4">
                    <label>Phone</label>
                    <input type="text" class="form-control" placeholder="(000) 90000-0000">
                </div>
                <div class="form-group col-md-6">
                    <label>Email</label>
                    <input type="text" class="form-control" placeholder="e-mail">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex">
                <button class="btn btn-outline-secondary mr-auto border">
                    Cancel changes
                </button>
                <button class="btn btn-success">
                    <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
                    Save changes
                </button>
            </div>
        </div>
    </form>
</div>