<div class="card rounded shadow-sm">
    <form [formGroup]="eventDetailsForm">

        <div class="p-3">
            <!-- <p>Form value:{{eventDetailsForm.value | json}}</p>
            <p>Form valid:{{eventDetailsForm.status | json}}</p> -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Theme</label>
                    <input type="text" class="form-control" formControlName="theme" placeholder=""
                        [ngClass]="inputValidator(form.theme)">

                    <div class="invalid-feedback" *ngIf="form.theme.errors?.required">
                        Theme is required.
                    </div>
                    <div class="invalid-feedback" *ngIf="form.theme.errors?.minlength">
                        Enter at least 4 characters.
                    </div>
                    <div class="invalid-feedback" *ngIf="form.theme.errors?.maxlength">
                        Enter a maximum of 50 characters.
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label>Location</label>
                    <input type="text" class="form-control" formControlName="city" placeholder=""
                        [ngClass]="inputValidator(form.city)">

                    <div class="invalid-feedback" *ngIf="form.city.errors?.required">
                        Location is required.
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label>Date and Time</label>
                    <input type="datetime" bsDatepicker [bsConfig]="bsConfig" class="form-control"
                        formControlName="date" [ngClass]="inputValidator(form.date)">

                    <div class="invalid-feedback" *ngIf="form.date.errors?.required">
                        Date and Time is required.
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>Amt People</label>
                    <input type="text" class="form-control is-invalid" formControlName="amountPeople" placeholder=""
                        [ngClass]="inputValidator(form.amountPeople)">

                    <div class="invalid-feedback" *ngIf="form.amountPeople.errors?.required">
                        Amt People is required.
                    </div>
                    <div class="invalid-feedback" *ngIf="form.amountPeople.errors?.min">
                        Amt People minimum is 1.
                    </div>
                    <div class="invalid-feedback" *ngIf="form.amountPeople.errors?.max">
                        Amt People maximum is 500.
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <label>Phone</label>
                    <input type="text" class="form-control" formControlName="phone" placeholder="(000) 90000-0000"
                        [ngClass]="inputValidator(form.phone)">

                    <div class="invalid-feedback" *ngIf="form.phone.errors?.required">
                        Phone is required.
                    </div>
                    <div class="invalid-feedback" *ngIf="form.phone.errors?.minlength">
                        Enter at least 12 characters.
                    </div>
                    <div class="invalid-feedback" *ngIf="form.phone.errors?.maxlength">
                        Enter a maximum of 13 characters.
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="e-mail"
                        [ngClass]="inputValidator(form.email)">

                    <div class="invalid-feedback" *ngIf="form.email.errors?.required">
                        Email is required.
                    </div>
                    <div class="invalid-feedback" *ngIf="form.email.errors?.email">
                        This email is invalid.
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label>Image</label>
                    <input type="text" class="form-control" formControlName="imageURL" placeholder="image"
                        [ngClass]="inputValidator(form.imageURL)">

                    <div class="invalid-feedback" *ngIf="form.imageURL.errors?.required">
                        Image is required.
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer">
            <div class="d-flex">
                <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
                    Cancel changes
                </button>
                <button class="btn btn-success" [disabled]="!eventDetailsForm.valid">
                    <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
                    Save changes
                </button>
            </div>
        </div>

    </form>
</div>