<app-title [title]="'Profile'" [iconClass]="'fa fa-user'"></app-title>

<div class="card rounded shadow-sm">
    <form [formGroup]="profileForm">
        <div class="row p-3">
            <div class="col-lg-3 pt-1">
                <div class="card mb-3">
                    <div class="card-header"></div>
                    <div class="d-flex align-self-center pt-3">
                        <a>
                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                                name="aboutme" width="120" height="120" class="rounded-circle">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="h4 text-center mb-3">@UserName</div>
                        <div class="h7 text-bold pb-1"><b>Name:</b> Miracles Lee Cross</div>
                        <div class="h7">
                            Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
                            etc.
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6 text-center border-right">
                                    <div class="h5">1342</div>
                                    <div class="h6 text-muted">Ministered Events</div>
                                </div>
                                <div class="col-6 text-center">
                                    <div class="h5">1342</div>
                                    <div class="h6 text-muted">Participated Events</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="form-row">
                    <div class="form-group col-12">
                        <h3 class="border-bottom">Profile Details</h3>
                    </div>
                    <div class="form-group col">
                        <label>Title</label>
                        <select class="form-control">
                            <option value=""></option>
                            <option value="0">None</option>
                            <option value="Senhorita">Technologist</option>
                            <option value="Senhorita">Graduate</option>
                            <option value="Senhorita">Specialist</option>
                            <option value="Senhorita">Post Graduate</option>
                            <option value="Senhorita">Master Degree</option>
                            <option value="Senhorita">Doctor</option>
                            <option value="Senhorita">Post Doctoral</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-5">
                        <label>First Name</label>
                        <input type="text" class="form-control" formControlName="name"
                            [ngClass]="{'is-invalid': form.name.errors && form.name.touched}" />

                        <div class="invalid-feedback" *ngIf="form.name.errors?.required">
                            Name is required.
                        </div>
                    </div>
                    <div class="form-group col-sm-5">
                        <label>Last Name</label>
                        <input type="text" class="form-control" formControlName="lastName"
                            [ngClass]="{'is-invalid': form.lastName.errors && form.lastName.touched}" />

                        <div class="invalid-feedback" *ngIf="form.lastName.errors?.required">
                            Last name is required.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-5">
                        <label>E-mail</label>
                        <input type="text" class="form-control" formControlName="email"
                            [ngClass]="{'is-invalid': form.email.errors && form.email.touched}" />

                        <div class="invalid-feedback" *ngIf="form.email.errors?.required">
                            Email is required.
                        </div>
                        <div class="invalid-feedback" *ngIf="form.email.errors?.email">
                            This email is invalid.
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Phone</label>
                        <input type="text" class="form-control" formControlName="phone"
                            [ngClass]="{'is-invalid': form.phone.errors && form.phone.touched}" />

                        <div class="invalid-feedback" *ngIf="form.phone.errors?.required">
                            Phone is required.
                        </div>
                        <div class="invalid-feedback" *ngIf="form.phone.errors?.maxlength">
                            Enter a maximum of 15 characters
                        </div>
                    </div>
                    <div class="form-group col-sm">
                        <label>Event Function</label>
                        <select class="form-control">
                            <option value=""></option>
                            <option value="Participante">Spectator</option>
                            <option value="Palestrante">Speaker</option>
                        </select>
                    </div>
                    <form-group class="col-12">
                        <label>Description</label>
                        <input type="text" class="form-control" formControlName="personalResume"
                            [ngClass]="{'is-invalid': form.personalResume.errors && form.personalResume.touched}" />

                        <div class="invalid-feedback" *ngIf="form.personalResume.errors?.required">
                            Description is required.
                        </div>
                    </form-group>
                </div>
                <div>
                    <h3 class="pt-3 border-bottom">Change Password</h3>
                    <p>If you want to change your password, fill in the fields below:</p>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm">
                        <label>Password</label>
                        <input type="password" class="form-control" formControlName="password"
                            [ngClass]="{'is-invalid': form.password.errors && form.password.touched}" />

                        <div class="invalid-feedback" *ngIf="form.password.errors?.required">
                            Password is required.
                        </div>
                        <div class="invalid-feedback" *ngIf="form.password.errors?.minlength">
                            Enter at least 8 characters.
                        </div>
                    </div>
                    <div class="form-group col-sm">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPassword"
                            [ngClass]="{'is-invalid': form.confirmPassword.errors && form.confirmPassword.touched}" />

                        <div class="invalid-feedback" *ngIf="form.confirmPassword.errors?.required">
                            Confirm password is required.
                        </div>
                        <div class="invalid-feedback" *ngIf="form.confirmPassword.errors?.minlength">
                            Enter at least 8 characters.
                        </div>
                        <div class="invalid-feedback" *ngIf="form.confirmPassword.errors?.passMustMatch">
                            The passwords didn't match.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex">
                <button class="btn btn-outline-secondary mr-auto border">
                    Cancel changes
                </button>
                <button class="btn btn-success">
                    <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
                    Save changes
                </button>
            </div>
        </div>
    </form>
</div>